/* ------Wraps */

.wraps {
  width: 340px;
  background-color: white;
  height: 65px;
  border-radius: 10px;
  display: flex;
  box-shadow: 1px 5px 4px rgba(0, 0, 0, 0.156);
  justify-content: center;
  cursor: pointer;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75));
  background-image: url(https://res.cloudinary.com/dtmziqubb/image/upload/v1710192488/IMG_0981_r5qkxz.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}

.title-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  color: aliceblue;
  text-align: center;
}

.container-categorias {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ------Ensaladas*/

.ensaladas {
  width: 340px;
  height: 65px;
  border-radius: 10px;
  display: flex;
  box-shadow: 1px 5px 4px rgba(0, 0, 0, 0.156);
  justify-content: center;
  cursor: pointer;
  background-image: url(https://res.cloudinary.com/dtmziqubb/image/upload/v1710180494/IMG_0686_1_i4yiw2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}

/* ------Burguer*/

.burger {
  width: 340px;
  height: 65px;
  border-radius: 10px;
  display: flex;
  box-shadow: 1px 5px 4px rgba(0, 0, 0, 0.156);
  justify-content: center;
  cursor: pointer;
  background-image: url(https://media.istockphoto.com/id/1498243668/es/foto/sabrosa-hamburguesa-con-queso-con-lechuga-queso-cheddar-tomate-y-encurtidos-bollo-de.jpg?s=2048x2048&w=is&k=20&c=EzxHLJ6IS5wW4jz_NfdMzV9-udrBU96iDsuNJOReY30=);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}

/* ------ POSTRES*/

.postres {
  width: 340px;
  height: 65px;
  border-radius: 10px;
  display: flex;
  box-shadow: 1px 5px 4px rgba(0, 0, 0, 0.156);
  justify-content: center;
  cursor: pointer;
  background-image: url(https://media.istockphoto.com/id/1452830276/es/foto/postre-de-tarta-de-queso-decorado-con-fresa.jpg?s=2048x2048&w=is&k=20&c=pBrVmoDJ75PFUrFRLyikVJ3b6Glea5apupfO4XSgOvI=);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}
/* ------ BEBIDAS */

.bebidas {
  width: 340px;
  height: 65px;
  border-radius: 10px;
  display: flex;
  box-shadow: 1px 5px 4px rgba(0, 0, 0, 0.156);
  justify-content: center;
  cursor: pointer;
  background-image: url(https://media.istockphoto.com/id/1062831310/es/foto/vierta-el-refresco-en-vaso-con-poco-de-hielo-sobre-fondo-oscuro.jpg?s=2048x2048&w=is&k=20&c=9ZG7tMqIIz-Rivx8LfL7p1Bufyn55qJdD5aqZmKoIrE=);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carrito img {
  width: 50px;
  height: 50px;
  margin-top: 450px;
}

/* .container-categorias :hover {
  transform: scale(0.9, 0.9);
}
 */
